*{
    font-family: "Merriweather Sans", sans-serif;
    margin: 0;
}
.container{
    height: 100dvh;
    display: grid;
    place-content: center;
}
.app{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 1dvh;
    height: 94dvh;
    padding: 3dvh; 
    border-radius: 1dvh;
    border: 1px solid black;
    background-image: url(assets\background.jpg);
}
.text{
    height: 5dvh;
    width: 28dvh;
    border-radius: 5dvh;
    font-size: larger;
    padding: 1dvh;
    outline: none;
    color: #626262;
    background: #d6fcf7;
    border: 0;
}
.icon{
    height: 9dvh;
    width: 9dvh;
    border-radius: 100%;
    display: grid;
    place-content: center;
    border: 0;
    background: #d6fcf7;
}
.searchbar{
    display: flex;
    align-items: center;
    gap: 2dvh;
}
.search{
    height: 5dvh;
    width: 5dvh;
}
body{
    margin: 0;
    background-color: rgb(43, 42, 42);
}
.sun{
    height: 26dvh;
    width: 26dvh;
    border-radius: 1dvh;
    padding: 7dvh;
    filter: drop-shadow(3px 3px 3px rgb(0, 0, 0));
}
.result{
    text-align: center;
    color: azure;
    display: flex;
    flex-direction: column;
    gap: 2dvh;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.deg{
    font-size: 10dvh;
    margin: 0;
}
.city{
    font-size: 4dvh;
    margin: 0;
}
.foot{
    width: 40dvh;
    display: flex;
    justify-content: space-between;
    padding: 2dvh;
    border-radius: 1dvh;
    backdrop-filter: blur(10px);
    border: 1px solid #d6fcf7;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.humid{
    display: flex;
    align-items: center;
    gap: 1dvh;
    color: rgb(255, 255, 255);
    font-size: 2dvh;
}
.humid > img{
    height: 6dvh;
    width: 6dvh;
}
.wind{
    display: flex;
    align-items: center;
    gap: 1dvh;
    color: rgb(255, 255, 255);
    font-size: 2dvh;
}
.wind> img{
    height: 6dvh;
    width: 6dvh;
}
.climate{
    font-size: 3dvh;
    color: rgb(231, 224, 224);
}
.location{
    height: 3dvh;
    width: 3dvh;
}
.wrap{
    display: flex;
    align-items: center;
    border-radius: 5dvh;
    background: #d6fcf7;
    padding: 1dvh 1dvh 1dvh 1dvh;
}